{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
.conatiner {
  background: white;
}
.error {
  text-display: none;
}

</style>

<div class="container my-4">
  <form class="ui-form" action="{% url 'accounts:signup' %}" method="POST">
  {% csrf_token %}
    {{ form.as_p }}
    {% for error in form.errors %}
      <p class="t-none">{{ error }}</p>
    {% endfor %}
    {{ form.password }}
    <button class="ui button" type="submit">Sign Up</button>
  </form>
</div>
{% endblock content %}